@{ ViewBag.Title = "Contact"; }
<div class="jumbotron">
    <div class=" text-center">
        <h1>Food is Good</h1><br /><br />
        <p>Subsribe to our offers:</p><br /><br />
        <form class="form-inline">
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
    <br /><br /><hr /><br />
    <div class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2><br /><br />
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Cluj-Napoca, Romania</p>
                <p><span class="glyphicon glyphicon-phone"></span> +40 023321123</p>
                <p><span class="glyphicon glyphicon-envelope"></span> foodisgood@gmail.com</p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="/content/images/fundal_contact.jpg" style="width:100%">
</div>