@model foodisgood.Models.Order

@{
    ViewBag.Title = "DetailsAccept";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Accept order</h2>






<header class="w3-display-container w3-content" style="max-width:1500px;">
    <img class="w3-image" src="/Content/Images/06.png" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
    <div class="w3-display-middle w3-padding w3-col l6 m8">
        <div class="w3-container w3-black">
            <h2><i class="fa fa-save w3-margin-right"></i> Order</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
            
                <div class="w3-row-padding" style="margin:0 -16px;">
                    <div class="w3-half w3-margin-bottom">
                        <label><i class="fa fa-paperclip"></i> User Name</label>
                        @Html.DisplayFor(model => model.BuyerUser.UserName)
                    </div>
                    <div class="w3-half">
                        <label><i class="fa fa-paperclip"></i> Desired quantity</label><br />
                        @Html.DisplayFor(model => model.DesiredQuantity)
                    </div>
                </div>


                
                
                <br />
                
                @*<input type="submit" name="response" value="Refuse" formaction=@Url.Action("DeleteOrder","Orders") formmethod="post" class="btn btn-primary" />*@
                

                @using (Html.BeginForm())
                {

            <div class="w3-row-padding" style="margin:8px -16px;">
                <div class="w3-half w3-margin-bottom">
                   
                    <input type="submit" name="response" value="Accept Order" formaction=@Url.Action("AcceptOrder", "Orders") formmethod="post" class="btn btn-primary" />
                </div>
                <div class="w3-half">
                  
                    <input type="submit" name="response" value="Back" formaction=@Url.Action("SeeOrders", "Offers", new { id = Model.OfferID}) formmethod="post" class="btn btn-primary" />
                </div>
            </div>
                }
              
            
        </div>
    </div>
</header>