@model foodisgood.Models.Order

@{
    ViewBag.Title = "DetailsAccept";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuyerUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesiredQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesiredQuantity)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        <input type="submit" name="response" value="Accept Order" formaction=@Url.Action("AcceptOrder", "Orders") formmethod="post" class="btn btn-primary" />
        <br />
        <input type="submit" name="response" value="Back" formaction=@Url.Action("SeeOrders", "Offers", new { id = Model.OfferID}) formmethod="post" class="btn btn-primary" />
        @*<input type="submit" name="response" value="Refuse" formaction=@Url.Action("DeleteOrder","Orders") formmethod="post" class="btn btn-primary" />*@
    }
</p>
